<nav>
    <div class="site-title"> 
        <a href="/"> <h1> Blog Website </h1> </a>
        <p> Net ninja site </p>
    </div>
    <ul>
        <li href="/"> Blogs </li>
        <li href="/About"> About </li>
        <li href = "/blogs/create"> Create</li>
    </ul>
</nav>