<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs")%>

<body>

    <%- include("./partials/nav.ejs") %> <!-- use -% to run functions and get the return value -->
    
    <div>

    </div>
</body>
<%- include("./partials/footer.ejs")%>
</html>